
        h1{
            font-family: 'Arial', Helvetica, sans-serif;
            font-size: 50px;
            text-align: center;
            color: black;
            margin-bottom:50px;
        }
        .picture {
            border-radius: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom:30px;
        } 

        Body{
            font-family: Arial, Helvetica, sans-serif;
            Color: #475550;
        }

        .align1{
            text-align: center; 
            color: black;
            margin-bottom:30px;
        }

        .align2{
            text-align: justify; 
            color: black;
            margin-bottom:30px;
            margin-left:60px;

        }

        .list-align{
            padding:30px;
            list-style: square;
            text-align: justify;
            margin-left:60px;
        }

        .site{
            color: black;
            font-size: 15px;
            margin-left:60px;
            margin-bottom:15px;
        }

        .alinhamento-txt{
            max-width:45%;
            margin:auto;
            margin-bottom:10px;
        }

        .button {
            color: white;
            background-color:#077187;
            padding: 10px 20px;
            border-radius: 4px;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            margin-left:60px;
        }